{% load static %}
{% include 'navbar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{homeInfo.noOfAppointments}}</h3>

                <p>Total Appointments</p>
              </div>
              <div class="icon">
                <i class="fas fa-stethoscope"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
         
       
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{homeInfo.noOfLabRequestsPending}}</h3>

                <p> Test Requests Pending</p>
              </div>
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          
        </div>
        <!-- /.row -->
        <!-- Main row -->
       
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


</body>
</html>

<script>
  (function () {
      window.onpageshow = function(event) {
          if (event.persisted) {
              window.location.reload();
          }
      };
  })();
  </script>
