{% include 'navbar.html' %}
{% load encrypt%}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</head>
{{appointmentForm.media}}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">

            {% if messages %}
            <ul class="messages" style="padding:3px">
                {% for message in messages %}
                <p style="padding:3px;font-weight:600; font-size:13px" {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>
                    {{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}


            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#request">Prescription</a></li>
              
            </ul>
            <div class="tab-content">
                <div id="request" class="tab-pane fade in active">
                    <h3>View Prescription</h3>
                    <div class="list-group">
                        <p class="list-group-item">  Appointment Date : {{prespDetail.requested_date}}</p>
                        <p  class="list-group-item"> Drug : {{prespDetail.drug}}</p>
                        <p  class="list-group-item"> Unit : {{prespDetail.unit}}</p>
                        <p  class="list-group-item"> Dosage : {{prespDetail.dosage}}</p>
                        <p  class="list-group-item"> Prescription Details : {{prespDetail.prescription_text}}</p>
                   
                    </div>
                    <a href="/patient/viewRecords/{{k|patient_id_encrypt_tag:id}}" ><button class="btn btn-warning" >Back to View Records</button></a>
                    

                </div>
                
            </div>
        </div>



</div>
</section>
</div>



<script>
    (function () {
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
    })();
</script>

