{% include 'adminNavbar.html' %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</head>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            {% include 'messages.html' %}
            <script>
                setTimeout(function () {
                    if ($('#msg').length > 0) {
                        $('#msg').remove();
                    }
                }, 2000)
            </script>
            <ul class="nav nav-tabs">
                <li><a href="appointmentTransactionRequests.html">Appointment requests</a></li>
                <li class="active"><a href="#insuranceTransactionRequests">Insurance requests</a></li>
            </ul>
            <br>
            <br>
            <section class="container">
                <div class="card bg-gradient-light">
                    <div class="card-header border-0">
                        <div class="card-title">
                            <!-- <i class="far fa-list-ul"></i> -->
                            <p style="font-size: large;">Insurance Transaction Requests</p>
                        </div>
                        <!-- tools card -->
                        <div class="card-tools">
                            <!-- button with a dropdown -->
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <div class="card-body pt-0" id="insuranceTransactionRequests">
                        <ul class="list-group list-group-flush">
                            {% for request in insuranceTransactions %}
                            {% if request.claim_transaction_status == "Approved" %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <p>Patient ID: {{request.patient_id}} </p>
                                        <p>Patient name: {{request.patient_firstname}} {{request.patient_lastname}}</p>
                                        <p>Policy name: {{request.policy_name}}  Claim amount: {{request.claim_amt}}</p> 
                                        <!-- Add maximum coverage here -->
                                    </div>
                                    <div class="col text-right">
                                        <button type="submit" class="btn btn-warning btn-sm" disabled>
                                            Pending
                                        </button>
                                        <br>
                                        <br>
                                        <form method="POST" role="form" id="form-client-info"
                                            action="{% url 'AdminSHS:insuranceTransactionRequests' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-success btn-sm"
                                                value={{request.claim_id}} name="approve">
                                                Approve
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <!-- <div class="tab-content">
                <div id="create"> -->
            <!-- <h3>Appointment Form</h3></br> -->
            <!-- <br>
                    <form method="POST" role="form" id="form-client-info">
                        {%csrf_token%}
                        {%for field in createEmployeeForm%}
                        {{ field.label_tag }} {{ field }}</br>
                        {%endfor%}
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div> -->
        </div>
    </section>
</div>